{% extends 'base.html.twig' %}
{% block head %}  
{% block title %}profil de {{ app.user.name }}{% endblock %}

   {% endblock %}


{% block body %}
<link rel="stylesheet" href="{{asset('acc_style.css')}}" type="text/css" />
	<div class="container right-panel-active" id="container" >
              <div class="form-container sign-up-container">
            {{ form(form) }}
              </div>
			<div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            	<h1>Modification du profil de {{ app.user.name }}</h1>
          </div>
		    </div>
      </div>
  </div>

{% endblock %}
     
  